.res {
  width: 100%;
  max-width: 728px;
  height: auto;
}

.bottom-Rs-left {
  position: absolute;
  bottom: 8px;
  left: 50px;
  top:110px;
}

//td:hover {
 //       border: 1px solid red !important;
 	//padding: 0px !important;
//}

