.res {
  width: 100%;
  max-width: 728px;
  height: auto;
}

.bottom-300x600-Rs-left {
  position: absolute;
  bottom: 8px;
  left: 30px;
  top:90px;
}


//td:hover {
 //       border: 1px solid red !important;
 	//padding: 0px !important;
//}

